body,form,ol,ul,li,p,h1,h2,h3,h4,h5,h6,table,tr,td,img,dt,dd,dl {border-width:0;margin:0;padding:0;}

.js-acorde {
	background:#fff url("../imagens/bg.grid.gif") no-repeat 14px 14px;
	border:2px solid #900;
	border-width:0 1px 2px;
	font-family:tahoma,verdana,sans-serif;
	float:left;
	height:86px;
	margin:20px;
	position:relative;
	width:74px;
}

.acorde-bull {
	background:#eee;
	font-size:0;
	height:5px;
	line-height:0;
	position:absolute;
	top:79px;
	width:5px;
}
.acorde-bull-p0 {left:12px;}
.acorde-bull-p1 {left:23px;}
.acorde-bull-p2 {left:34px;}
.acorde-bull-p3 {left:45px;}
.acorde-bull-p4 {left:56px;}
.acorde-bull-p5 {left:67px;}

.acorde-dedo {font-size:0;height:9px;line-height:0;position:absolute;width:9px;}
.acorde-head {background:#900;color:#fff;cursor:move;font-size:10px;left:0;height:12px;line-height:12px;position:absolute;top:0;width:100%;}
	.acorde-head div {height:100%;padding:0 4px;position:relative;}
.acorde-head a {color:#db0;display:block;font-weight:700;position:absolute;right:4px;text-decoration:none;top:0;}
.acorde-pestana {background:#d00;height:3px;overflow:hidden;position:absolute;}
.acorde-pricasa {color:#900;font-size:10px;left:0;position:absolute;text-align:right;top:16px;width:10px;}
.acorde-var {color:#dd0;font-size:9px;font-weight:normal;padding-left:3px;}

.js-acorde-print {
  float:left;
}
.acorde-print {
  font:12px courier,'courier new',monospace;
  margin:0 20px 20px 0;
  white-space:pre;
}
.acorde-print-head {
  font:12px tahoma,verdana,sans-serif;
  text-transform:uppercase;
  padding-left:3em;
}

/*
.notext {font-size:0;letter-spacing:-2000px;overflow:hidden;text-decoration:none;text-indent:-2000px;}
*/
